<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chungmyung.myapplication">

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Application"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoffeeActivity"
            android:label="커피주문">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasketballActivity"
            android:label="농구 점수" />
        <activity android:name=".ActivityMoveActivity" />
        <activity
            android:name=".TargetActivity"
            android:parentActivityName=".ActivityMoveActivity" />
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ActivityMoveActivity" />

        <activity
            android:name=".LoginActivity"
            android:label="로그인" />
        <activity android:name=".SalesActivity" />
        <activity
            android:name=".ImplicitIntentActivity"
            android:label="암묵적 인탠트" />
        <activity
            android:name=".WebViewActivity"
            android:label="윕뷰" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignUpMessageActivity" />
        <activity android:name=".Adapterview.AdapterViewExamActivity" />
        <activity android:name=".Adapterview.ColorfulBackgroundActivity" />
        <activity android:name=".Adapterview.Detail_address_Activity" />
        <activity android:name=".LifeCycleActivity" />
        <activity android:name=".fragment.Basket.BasketBallActivity" />
        <activity android:name=".fragment.Color.ColorActivity" />
        <activity android:name=".fragment.Exam.ExamColorActivity" />
        <activity android:name=".fragment.Exam.CallbackExamActivity" />
        <activity android:name=".fragment.Sliding.SlidingActivity" />
        <activity android:name=".Flexiable_UI.NewsActivity" />
        <activity android:name=".Dividedpayment.Dutch_Payment_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dividedpayment.Result_divided_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dividedpayment.Member_Activity"></activity>
    </application>

</manifest>